.carrossel {
  position: relative;
  margin-top: 130px;
}

.subtitulo {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verProdutos {
  position: absolute;
  z-index: 2;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.subtitulo h2 {
  opacity: 90%;
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  color: #dfcd23;
}
.cozinha h2 {
  color: #E5690B;
  max-width: 12ch;
}

.sala h2 {
  color: #1B6575;
}


.gradient {
  background-color: #d9d9d9;
  opacity: 70%;
}

.verProdutos a {
  font-weight: bold;
  font-size: 1.5vw;
  padding: 1vw;
  border-radius: 60px;
  text-decoration: none;
  background-color: #dfcd23;
  color: #ffffff;
}

.cozinha a {
  background-color: #E5690B;
}
.sala a {
  background-color: #1B6575;
}
@media (max-width: 950px) {
  .carrossel {
    margin-top: 80px;
  }
}
