
header {
  width: 100%;
  position: fixed;
  top: 0;
  display: block;
  z-index: 99999;
}
.menu {
  background-color: #264059;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  z-index: 100;
  gap: 30px;
}

.logo img {
  max-width: 150px;
}

.navigation {
  display: flex;
  gap: 30px;
  position: relative;
  margin: 0px;
}
.navigation i {
  z-index: 999;
  position: relative;
  color: #ffffff;
  font-size: 30px;
  transition-duration: 0.3s;
}

.navigation i:hover {
  color: #aaa;
}

.search {
  position: relative;
  width: 500px;
  height: 50px;
  overflow: hidden;
}

.search input {
  color: #aaa;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 50px;
  padding: 0 10px 0 20px;
}

.search .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  color: #264059;
}

.categorias {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.categorias ul {
  position: relative;
  width: 400px;
  background-color: #264059;
  display: flex;
  justify-content: center;
  gap: 4%;
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 0px 0px 10px 10px;
  padding-left: 0;
  padding-bottom: 10px;
}


.categorias a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  width: 50px;
  transition-duration: 0.3s;
}

.categorias a:hover {
  color: #264059;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 3px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.menu-toggle:hover {
  color: #aaa;
}

@media (max-width: 950px) {
  .menu {
    padding: 10px 20px;
    gap: 15px;
  }

  .search {
    display: none;
    width: 100%;
    position: relative;
  }

  .search .fa-magnifying-glass {
    left: 95%;
  }

  .navigation {
    /* display: none; */
    width: 100%;
    right: 100px;
  }
  .categorias {
    background-color: #264059;
    position: absolute;
    height: 100vh;
    max-width: 50vw;
    padding: 20px;
    right: 0;
    transform: translatex(100%);
  }
  .categorias.ativar {
    transform: translatex(0);
    transition: transform 0.3s ;
    display: block;
    opacity: 1;
  }
  .categorias ul {
    width: 150px;
    text-align: center;
    gap: 20px;
    flex-direction: column;
    padding: 0px;
  }
  .menu-toggle {
    display: block;
    position: absolute;
    right: 50px;
  }
  .logo img {
    max-width: 100px;
  }
}

@media (max-width: 600px) {
  .search .fa-magnifying-glass {
    left: 92%;
  }
}
