#carrinho {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
section {
    padding: 2%;
    background-color: #EDF4F6;
    border-radius: 4px;
}
#compras, #resumo-compra {
    border-radius: 20px;

    h2, h3, h4, span, b {
        color: #374957;
        padding: 5px;
    }
}
#produto, #info-detalhes {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.row > * {
    width: unset;
}
#pagamentos{
    text-align: right;
    span {
        color: green;
    }
}
#button {
    border: solid black 1.2px;
    border-radius: 8px;

    #diminuir, #aumentar {
        cursor: pointer;
    }
}
.caixa-radio {
    padding: 5px;
    background-color: whitesmoke;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .radio-info {
        position: relative;
    }
}
#resumo-compra {
    height: 10%;
    text-align: center;

    button {
        text-align: center;
        padding: 5px 10px;
        font-size: 15px;
    }
}
@media (max-width: 4000px ) {
    #produto-info {
        max-width: 60%
    }
    #carrinho {
        padding: 9rem 3%;
    }
    main {
        font-size: 150%;
    }
    .radio-info {
        left: -10vw;
    }
}
@media (max-width: 1900px ) {
    main {
        font-size: 120%;
    }
    #button {
        text-align: center;
        padding: 4px;
        
        #diminuir, #aumentar {
            padding: 3px;
        }
    }
    #compras {
        width: 60vw;
    }
    .radio-info {
        left: -13vw;
    }
}
@media (max-width: 1300px ) {
    #produto-img, #produto-info {
        max-width: 45%
    }
    #compras {
        width: 50vw;
    }
    #button {
        padding: 3px;
        
        #diminuir, #aumentar {
            padding: 1px;
        }
    }
    .radio-info {
        left: 0px;
    }
}
@media (max-width: 920px ) {
    #produto-img, #produto-info {
        max-width: 49%
    }
    #carrinho {
        padding: 7rem 3%;
    }
    #compras {
        width: 100vw;
    }
    .radio-info {
        left: -11vw;
    }
}
@media (max-width: 600px) {
    #produto, #info-detalhes {
        justify-content: center;
    }
    #produto-img {
        min-width: 100px
    }
    #produto-info {
        min-width: 100%;
    }
    #compras span, #button, #diminuir, #aumentar {
        padding: 1px;
    }
}