.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAE6E6;
    gap: 30px;
    padding: 10rem 15%;
}
#inputs {
    width: 90%;
    text-align: center;
}
#links, #check {
    text-align: center;
}
h2, h5, .btn, span, p {
    color: #374957
}
.box-inputs {
    padding: 10px 0px;
    text-align: left;
}
