#pagamento {
    padding: 10rem 10%;
}
#lados {
    display: flex;
    text-align: center;
    width: 100%;
}
#divisoria {
    position: relative;
    width: 3px;
    background-color: #374957;
}
#pix-img {
    width: 40px;
}
#qr-code {
    max-width: 12rem;
}